@page
@model Blog.Pages.CreateArticleModel
@{
    ViewData["Title"] = "ایجاد مقاله جدید";
}

<div class="col-12">
    @if (TempData["Success"] != null)
    {
        <div class="alter alter-success">
            @TempData["Success"]
        </div>
    }
    <div class="col-6" mr-auto ml-auto text-center>
        <hr class="border-bottom">ایجاد مقالات جدید</hr>
    </div>
</div>

<form class="mr-auto ml-auto" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.Command.Title"></label>
            <input class="form-control" asp-for="@Model.Command.Title">
            <span asp-validation-for="@Model.Command.Title" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Command.Picture"></label>
            <input class="form-control" asp-for="@Model.Command.Picture">
            <span asp-validation-for="@Model.Command.Picture" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Command.PictureALT"></label>
            <input class="form-control" asp-for="@Model.Command.PictureALT">
        </div>
        <div class="form-group col-md-6">
            <label asp-for="@Model.Command.PictureTilte"></label>
            <input class="form-control" asp-for="@Model.Command.PictureTilte">
        </div>
        <div class="form-group col-md-12">
            <label asp-for="@Model.Command.ShortDescription"></label>
            <textarea class="form-control" asp-for="@Model.Command.ShortDescription"></textarea>
            <span asp-validation-for="@Model.Command.ShortDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Command.Description"></label>
        <textarea rows="5" type="text" class="form-control" asp-for="@Model.Command.Description"></textarea>
    </div>
    <button type="submit" class="btn btn-success">ارسال</button>
</form>
